<template name="addProspects">
  <div id="example" class="panel">
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
      <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li><a href="/projects/{{_id}}"><i class="fa fa-folder-open"></i> {{name}}</a></li>
      <li class="active"><i class="fa fa-user-plus"></i> Add Prospects</li>
    </ol>
    <div class="panel panel-primary ">
      <div class="panel-heading"><h4>Add prospects to the {{name}} project</h4></div>
      <div>
        {{> addProspectFormGoogle}}
      </div>

    </div>
    </div>
</template>

<template name="addProspectForm">
		{{> quickForm collection="Prospects" id="addProspectForm" type="insert"}}
</template>


<template name="addProspectFormGoogle">
  {{#autoForm collection="Prospects" id="addProspectFormGoogle" type="insert"}}
    <fieldset>
      {{> afQuickField name='contacts'}}
      {{> afQuickField name="address" type="googleplace" opts=optsGoogleplace}}
      {{> afQuickField name="address.unit"}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Submit</button>
  {{/autoForm}}

</template>
