<template name="sidebar">
  {{#if currentUser}}
  <div class="col-md-2 hidden-xs">
    <ul class="nav nav-sidebar">
      <li><a href="{{pathFor 'dashboard'}}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li><a href="{{pathFor 'addProspects'}}"><i class="fa fa-user-plus"></i> Add Prospects</a></li>
      <li><a href="{{pathFor 'masterlist'}}"><i class="fa fa-th-list"></i> Master List</a></li>
      <li><a href="{{pathFor 'lists'}}"><i class="fa fa-list-alt"></i> Lists</a></li>
    </ul>
  </div>
  {{/if}}
</template>
