<template name="dashboard">
{{#if projectToDelete}}
	{{>delconfirm}}
{{/if}}
<div class="dashboard">
	<ol class="breadcrumb">
		<li><a href="{{pathFor 'home'}}"><i class="fa fa-home"></i> Home</a></li>
		<li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
	</ol>
	<div class="page-header">
		<!-- We added css to make this input look cloaked -->
		<p>
			<input class="biginput" type="text" name="projectNameEnter" id="projectNameEnter" placeholder="Add A Project" value="">
		</p>
	</div>
	<div>
		{{#each projects}}
			{{>project}}
		{{else}}
				<h4>No Projects Found !</h4>
		{{/each}}
		<div>
	</div>
	</div>
</div>
</template>

<template name="project">
<div class="col-md-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				<p class="pull-right">
				</p>
				<p>
					<h5>
						<a href="/projects/{{_id}}" class="eachProject" value="{{_id}}"><h3>{{name}}</h3></a>
					</h5>
				</p>
			</h3>
		</div>
		<div class="panel-body">
			<p>
				<small>
					Created on {{formatdate dateentered}}
				</small>
				{{#if isowner}}
				<i class="fa fa-trash  deleteConfirmation"></i>
				{{/if}}

			</p>
		</div>

	</div>
</div>
</template>
