<template name="projectView">
  <div id="example" class="panel">
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
      <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active"><i class="fa fa-folder-open"></i> {{name}}</li>
    </ol>
    <div class="panel panel-default">
      <div class="panel-heading">
        {{>projectPanelHeading}}
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
