<template name="masterlist">
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
    <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="/projects/{{_id}}"><i class="fa fa-folder-open"></i> {{name}}</a></li>
    <li class="active"><i class="fa fa-th-list"></i> Master List</li>
  </ol>
  <div class="panel panel-primary">
    <div class="panel-heading"><h4>List of prospects in the {{name}} project</h4></div>
    <div>
      {{> tabular table=TabularTables.Prospects selector=selector class="table table-condensed"}}
    </div>

  </div>
</template>


<template name="contacts">
  <table id="contactsT" class="table">
    <thead>
      <tr>
        <th class="contactsHeader row-name">Name</th>
        <th class="contactsHeader row-phone">Phone</th>
        <th class="contactsHeader">Notes</th>
      </tr>
    </thead>
    <tbody>
      {{#each contacts}}
      <tr>
        <td>{{name}}</td>
        <td>{{phone}}</td>
        <td>{{notes}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</template>

<template name="editProspect">
  {{#afModal title="Update prospect" omitFields="createdAt,updatedAt,owner" class="text-primary" collection="Prospects" operation="update" doc=_id}}
  <i class="fa fa-pencil-square-o" buttonContent="Edit prospect"></i>
  {{/afModal}}
</template>

<template name="deleteProspect">
  {{#if isOwner}}
  {{#afModal title="Delete prospect" class="text-danger" collection="Prospects" operation="remove" doc=_id}}
  <i class="fa fa-trash-o dark-hover" buttonContent="Delete prospect"></i>
  {{/afModal}}
  {{/if}}
</template>

<template name="listN">
  {{#with listName}}
  {{name}}
  {{/with}}
</template>
