<template name="masterlist">
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
    <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="/projects/{{_id}}"><i class="fa fa-folder-open"></i> {{name}}</a></li>
    <li class="active"><i class="fa fa-th-list"></i> Master List</li>
  </ol>
  <div class="panel panel-primary ">
    <div class="panel-heading"><h4>List of prospects in the {{name}} project</h4></div>
    <div>
      {{> reactiveTable collection=myProspects settings=settings}}
    </div>

  </div>
</template>
