<template name="listzzz">
	<div class="panel panel-primary ">
		<div class="panel-heading"><h4>List of prospects in the {{name}} project</h4></div>
		<div id="prospectList" class="table-responsive">
			<table class="table table-condensed">
				<thead>
					<tr>
						<th class="row-actions"></th>
						<th class="row-address">Address</th>
						<th>Contacts</th>
					</tr>
				</thead>
				<tbody>
					{{#each prospect}}
					<tr>
						<td id="prospectListActions">
							{{#afModal title="Update prospect" omitFields="createdAt,updatedAt,owner" class="text-primary" collection="Prospects" operation="update" doc=_id}}
							<i class="fa fa-pencil dark-hover editRem" buttonContent="Edit prospect"></i>
							{{/afModal}}
							<hr>
							{{#afModal title="Delete prospect" class="text-danger" collection="Prospects" operation="remove" doc=_id}}
							<i class="fa fa-times dark-hover editRem" buttonContent="Delete prospect"></i>
							{{/afModal}}
						</td>
						{{#with address}}
						<td>
							<p id="prospectAdr">
								{{fullAddress}}
								{{#if unit}}
								<br>
								unit {{unit}}
								{{/if}}
							</p>
						</td>
						{{/with}}
						<td class="prospectList">
							<div class="table-responsive">
								<table id="contactsTable" class="table table-condensed">
									<thead>
										<tr>
											<th class="contactsHeader row-name">Name</th>
											<th class="contactsHeader row-phone">Phone</th>
											<th class="contactsHeader">Notes</th>
										</tr>
									</thead>
									<tbody>
										{{> contactDetails}}
									</tbody>
								</table>
							</div>
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</template>


<template name="contactDetails">
	{{#each contacts}}
	<tr>
		<td>{{name}}</td>
		<td>{{phone}}</td>
		<td>{{notes}}</td>
	</tr>
	{{/each}}
</template>

<template name="lists">
	<ol class="breadcrumb">
		<li><a href="{{pathFor 'home'}}"><i class="fa fa-home"></i> Home</a></li>
		<li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
		<li><a href="/projects/{{_id}}"><i class="fa fa-folder-open"></i> {{name}}</a></li>
		<li class="active"><i class="fa fa-list-alt"></i> Lists</li>
	</ol>
	<div class="page-header">
		<!-- We added css to make this input look cloaked -->
		<p>
			<input class="biginput" type="text" name="listNameEnter" id="listNameEnter" placeholder="Add A List" value="">
		</p>
	</div>
	<div>
		<div class="panel panel-primary ">
			<div class="panel-heading"><h4>Lists in the {{name}} project</h4></div>
			<div id="assignementList" class="table-responsive">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th class="row-actions"></th>
							<th class="row-address">List Name</th>
							<th>Assigned To</th>
							<th>Assignment Date</th>
							<th class="row-actions1"></th>
						</tr>
					</thead>
					<tbody>
						{{#each list}}
						<tr class="eachList" value="{{_id}}">
							<td id="prospectListActions">
								{{#afModal title="Edit list" omitFields="" class="text-primary" collection="Lists" operation="update" doc=_id}}
								<i class="fa fa-pencil-square-o" buttonContent="Edit list"></i>
								{{/afModal}}
							</td>
							<td>
								<p id="listName" class="listNameEdit">
									{{name}}
								</p>
							</td>
							<td>
								<p id="assignedTo">
									{{>assigned}}
								</p>
							</td>
							<td>
								<p id="assignmentDate">
									{{formatdate lastupdate}}
								</p>
							</td>
							<td>
								{{#afModal title="Delete list" class="text-danger" collection="Lists" operation="remove" doc=_id}}
								<i class="fa fa-trash-o dark-hover" buttonContent="Delete list"></i>
								{{/afModal}}
							</td>
						</tr>
						{{else}}
						<h4>No Lists Found !</h4>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
		<div>
		</div>
	</div>
</template>


<template name="assigned">
	<div>
		{{#each assignedTo}}
		<div>
		{{username}}
		<i class="fa fa-minus-circle removeAssignment"></i>
		</div>
		{{else}}
		<select  name="userToAssign" class="userToAssign">
			<option selected disabled hidden value=''>Assign a member</option>
			{{#each members}}
			<option value="{{_id}}">{{username}}</option>
			{{/each}}
		</select>
		<i class="fa fa-plus-circle assignUser"></i>
		{{/each}}
	</div>
</template>
